---
---

@import "{{ site.theme }}";

.site-footer-owner {
  font-weight: normal;
}

.page-header {
 background-image: linear-gradient(120deg, #575b6a, #2e3346); 
}

img {
  object-fit: contain;
}

#content {
  text-align: center;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
