---
---

@import "{{ site.theme }}";

.site-footer-owner {
  font-weight: normal;
}

.page-header {
 background-image: linear-gradient(120deg, #575b6a, #2e3346); 
}

img {
  object-fit: contain;
}

#main-content {
  margin: auto;
}
